<div class="container">
    <h1 class="title">Eliminar Estudiante</h1>
    <div *ngIf="estudiante">
        <p class="highlight">¿Estás seguro de que deseas eliminar al estudiante {{ estudiante.nombres }} {{ estudiante.apellidos }}?</p>
        <button class="btn-delete" (click)="eliminarEstudiante()">Eliminar</button>
        <button class="btn-secondary" (click)="cancelar()">Cancelar</button>
    </div>
    <div *ngIf="!estudiante">
        <p class="highlight">Estudiante no encontrado.</p>
        <button class="btn-secondary" (click)="cancelar()">Volver</button>
    </div>
</div>